main {
    width: 60%;
}

.new__poster {
    margin-top: 5%;
    width: 100%;
}

.new__poster__section {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
}

.new__poster__img {
    width: 52px;
    height: 52px;
}

.img__user {
    width: 100%;
    padding-right: 5px;
}

.new__poster__description {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    gap: 3px;
}

.new__poster__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    gap: 20px;
}

.new__poster__input__title {
    padding: 16px 20px;
    background:var(--color-white-fixed);
    border: 2px solid var(--color-grey-4);
    border-radius: 4px;
}

.new__poster__input__description {
    padding: 0 20px;
    background:var(--color-white-fixed);
    border: 2px solid var(--color-grey-4);
    border-radius: 4px;
    height: 130px;
}


.button__post {
    width: 69px;
    height: 38px;
    background: var(--color-grey-4);
    border: 2px solid var(--color-grey-4);
    border-radius: 4px;
    cursor: pointer;
}

.button__post:hover {
    background: var(--color-brand-1);
    border: 2px solid var(--color-brand-1);
    color: var(--color-white-fixed);
}

.button__div {
    display: flex;
    flex-direction: row-reverse;
}

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}

.poster__text {
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px;
    max-height: 56px;  
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.poster__buttons {
    display: flex;
    flex-direction: row;
}

.btn__open__post__1 {
    width: 92px;
    height: 38px;
    background: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: 4px;
    color: var(--color-white-fixed);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2%;
    cursor: pointer;
}

.btn__open__post__1:hover {
    color: var(--color-grey-1);
    background: var(--color-white-fixed);
    border: 2px solid var(--color-grey-1);
}

.btn__open__post__2 {
    width: 92px;
    height: 38px;
    background: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: 4px;
    color: var(--color-white-fixed);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2%;
    cursor: pointer;
}

.btn__open__post__2:hover {
    color: var(--color-grey-1);
    background: var(--color-white-fixed);
    border: 2px solid var(--color-grey-1);
}

.btn__open__post__3 {
    width: 92px;
    height: 38px;
    background: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: 4px;
    color: var(--color-white-fixed);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2%;
    cursor: pointer;
}

.btn__open__post__3:hover {
    color: var(--color-grey-1);
    background: var(--color-white-fixed);
    border: 2px solid var(--color-grey-1);
}

.btn__open__post__4 {
    width: 92px;
    height: 38px;
    background: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: 4px;
    color: var(--color-white-fixed);
    font-weight: 600;
    font-size: 14px;
    margin-top: 2%;
    cursor: pointer;
}

.btn__open__post__4:hover {
    color: var(--color-grey-1);
    background: var(--color-white-fixed);
    border: 2px solid var(--color-grey-1);
}

.btn__img {
    width: 22.76px;
    height: 20px;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.poster__buttons p {
    margin-top: 3%;
    margin-left: 6px;
}

aside {
    width: 30%;
    margin-top: 56px;
    margin-left: 150px;
    position: fixed;
    max-width: 380px;
    right: 10%;
}

.vitrine {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.btn__follow {
    background: var(--color-brand-1);
    border: 1px solid var(--color-brand-1);
    border-radius: 2px;
    padding: 0px 12px;
    width: 89px;
    height: 28px;
    color: var(--color-white-fixed);
    margin-left: 60px;
    cursor: pointer;
}

.btn__follow__after {
    background: var(--color-white-fixed);
    border: 1px solid var(--color-grey-1);
    border-radius: 2px;
    padding: 0px 12px;
    width: 89px;
    height: 28px;
    color: var(--color-grey-1);
    font-weight: 600;
    margin-left: 40px;
    cursor: pointer;
}

.btn__follow__after:hover {
    background: var(--color-brand-1);
    border: 1px solid var(--color-brand-1);
    color: var(--color-white-fixed);
}

.new__poster__section__follow {
    display: flex;
    flex-direction: row;
    margin-top: 56px;
    justify-content: space-between;
}

.modal {
    position: fixed;
    top: 20%;
    background: var(--color-white-fixed);
    border-radius: 8px;
    width: 761px;
    padding: 40px 24px;
    left: 25%;
}

.new__poster__modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poster__modal {
    width: 100%;
}

.poster__text__modal {
    padding-top: 20px;
}

.user__poster {
    display: flex;
}

.btn__close {
    border-radius: 100%;
    border-style: none;
    color: var(--color-grey-3);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.btn__close:hover {
    color: var(--color-grey-1);
}

